@{
    ViewBag.Title = "ConfirmationPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Confirmation Page</h2>
@Html.ActionLink("main", "Index","Home")
<h1><span class="badge badge-success">Congratulations, you have just rented a car!</span></h1>