@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@Html.ActionLink("main", "Index", "Home")
<div>
    <img src="~/Files/Content/about.png" alt="Cars" />
</div>
<p></p>
<p>
    Booking of any class cars
</p>
<p>
    We offer you to choose from a wide variety of car classes new high-quality vehicles meeting your needs and budget best.
</p>